Year 2/18030995 Girija Tamang/Code/catalog_18030995.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CarStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="storeName"/>
        <xs:element type="xs:string" name="logo"/>
        <xs:element type="xs:string" name="storeAddress"/>
        <xs:element name="telephone" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:pattern value="98[0-9]{8}"/> 
            </xs:restriction>
          </xs:simpleType> 
        </xs:element>
        <xs:element type="xs:string" name="website"/>
        <xs:element name="car" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="type">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="id" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:positiveInteger" name="quantity"/>
              <xs:element name="carDetail" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence maxOccurs="unbounded">
                    <xs:element type="xs:string" name="carModel"/>
                    <xs:element type="xs:string" name="manufacturer"/>
                    <xs:element name="carType">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="Fuel"/>
                          <xs:enumeration value="Hybrid"/>
                          <xs:enumeration value="Electric"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element type="xs:string" name="color"/>
                    <xs:element type="xs:string" name="dimension"/>
                    <xs:element type="xs:string" name="transmission"/>
                    <xs:element type="xs:nonNegativeInteger" name="km_driven"/>
                    <xs:element type="xs:positiveInteger" name="price"/>
                    <xs:element type="xs:string" name="insurance" minOccurs="0"  />
                    <xs:element name="fuel_economy" minOccurs="0" >
                      <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                          <xs:minInclusive value="5"/>
                          <xs:maxInclusive value="50"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>  
                    <xs:element type="xs:string" name="no_of_owner" minOccurs="0" />
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="carid" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>